<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />


<!--    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>-->



    <application
        android:name=".utils.MyApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/rect_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/round_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShindindiDatingApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <!-- <service -->
        <!-- android:name=".utils.SocketService" -->
        <!-- /> -->
<!--        <meta-data-->
<!--            android:name="firebase_analytics_collection_enabled"-->
<!--            android:value="false" />-->

<!--        <meta-data-->
<!--            android:name="google_analytics_adid_collection_enabled"-->
<!--            android:value="false" />-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ripenapps.adoreandroid.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
<!--        <service-->
<!--            android:name=".utils.BillingService"-->
<!--            android:enabled="true"-->
<!--            android:exported="false" />-->
        <service
            android:name=".utils.SoundService"
            android:enabled="true"
            android:stopWithTask="true" />
        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".views.activities.FromMapActivity"
            android:configChanges="orientation|screenSize|layoutDirection|keyboardHidden|uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".views.activities.HomeActivity"
            android:configChanges="orientation|screenSize|layoutDirection|keyboardHidden|uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".views.activities.QuestionsActivity"
            android:configChanges="orientation|screenSize|layoutDirection|keyboardHidden|uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".agora.singlevideo.OutgoingVideoCallActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ShindindiDatingApp"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".agora.audio.IncomingAudioCallActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ShindindiDatingApp"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".agora.audio.OutgoingAudioCallActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ShindindiDatingApp"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.ripenapps.adoreandroid.agora.singlevideo.IncomingVideoCallActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ShindindiDatingApp"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".views.activities.MainActivity"
            android:configChanges="orientation|screenSize|layoutDirection|keyboardHidden|uiMode"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

            <!-- Main launcher intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Deep link intent filter -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="adoredatingapp.page.link"
                    android:scheme="https" />
                <data
                    android:host="adoredatingapp.page.link"
                    android:scheme="http" />
            </intent-filter>

        </activity>
    </application>

</manifest>